.app-header {
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  .mobile-search {
    width: 95%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    border-radius: 2em;
    box-shadow: 0px 0px 4px 1px rgb(184, 181, 181);

    .btn-main-content-mobile-search {
      display: flex;
      background: none;
      font-size: 18px;
      width: 80%;

      .main-content-mobile-search {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: gold;
        .top-content {
          h2 {
            font-size: 18px;
            text-align: left;
          }
        }
        .bottom-content {
          ul {
            display: flex;
            color: gray;

            li {
              font-size: 16px;
              margin-right: 30px;
            }
          }
        }
      }
    }

    .btn-filter-mobile-search {
      background: none;
      padding: 10px;
      margin-right: 15px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid gray;
    }
  }
}

@media (max-width: 550px) {
  .mobile-search {
    display: block;
  }
}
@media (min-width: 550px) {
  .mobile-search {
    display: block;
  }
}

@media (min-width: 960px) {
  .mobile-search {
    display: none;
  }
}
